:root {
  --default-font-family: "Raleway", sans-serif;
  --secondary-font-family: "Amatic SC";
  --primary-color: #f9b248;
  --secondary-color: #1f6f78;
  --accent-color: #dfe0e0;
}

body.projects {
  background-color: var(--accent-color);
}

h3 {
  font-family: var(--default-font-family);
}

a.professional {
  color: white;
  text-decoration: none;
}

a.professional:hover {
  color: black;
}

a.professional:visited {
  color: white;
}

a.footer,
a.footer-project {
  text-decoration: none;
  color: var(--secondary-color);
}

a.footer:hover {
  color: var(--accent-color);
}

a.footer:visited {
  color: var(--accent-color);
}

a.footer-project:hover {
  color: var(--primary-color);
}

a.footer-project:visited {
  color: var(--primary-color);
}

a.shecodes-link {
  color: var(--primary-color);
  text-decoration: none;
}

hr {
  margin: 0px 200px 0px 200px;
  font-family: var(--default-font-family);
  opacity: 1;
}

.about-content {
  margin-top: 50px;
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 1em;
}

.about-intro {
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
}

.about-title,
.about-subtitle {
  font-family: var(--default-font-family);
}

.app-description {
  padding: 0px 10px;
  font-family: var(--default-font-family);
  font-weight: 700;
}

.app-title {
  font-family: var(--default-font-family);
  color: var(--secondary-color);
  text-align: left;
  font-size: 25px;
  padding: 10px 0px 10px 10px;
  font-weight: 800;
}

.button-link {
  background-color: var(--secondary-color);
  padding: 20px;
  width: 140px;
  border-radius: 80px;
}

.button-link:hover {
  opacity: 0.9;
  background-color: var(--accent-color);
  transition: color 0.525ms ease;
}

.btn-primary {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 12px 12px;
  margin-top: 15px;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  opacity: 0.7;
  color: white;
}

.btn-primary:visited {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  opacity: 0.7;
  color: white;
}

.resume-button {
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 70px;
  font-size: 2em;
}

.collaborate-img {
  max-width: 650px;
  border-radius: 5px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.contact-content {
  margin: 0 auto;
  padding: 0px 20px;
  font-family: var(--secondary-font-family);
  text-align: center;
}

.contact-subtitle {
  font-family: var(--secondary-font-family);
  font-size: 1.5em;
  font-weight: bold;
}

.content-group {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  text-align: center;
}

.container-contact {
  margin: 0 auto;
}

.email,
.linkedin,
.github {
  font-weight: bold;
  font-size: 2em;
}

.external-links {
  margin-top: 60px;
  margin-bottom: 100px;
  max-width: 400px;
  font-family: var(--default-font-family);
  font-weight: bold;
}

.footer-content {
  background-color: var(--primary-color);
  padding: 50px;
  color: var(--accent-color);
  font-family: var(--secondary-font-family);
  text-align: center;
  font-size: 2.5em;
}

.header {
  margin: 0 auto;
  padding: 160px 20px;
}

.hero {
  border: 1px solid black;
  padding: 40px 0px;
  margin: 0 auto;
  margin-top: 40px;
}
.hero-name {
  text-align: center;
  font-weight: 200;
  font-size: 10em;
  font-family: var(--secondary-font-family);
}
.hero-title {
  text-align: center;
  font-weight: 100;
  font-size: 4em;
  margin-bottom: 80px;
}

.centered-hero-title {
  position: absolute;
  top: 28%;
  left: 90%;
  font-size: 80px;
  color: black;
  font-family: var(--default-font-family);
}

.centered-second-title {
  position: absolute;
  top: 50%;
  left: 32%;
  font-size: 60px;
  color: black;
  font-family: var(--default-font-family);
}
.index-body {
  background: #f9b248;
}

.index-description {
  margin: 0 auto;
  padding: 40px 20px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.index-description-attention-getter {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 8em;
}

.index-description-summary {
  font-family: var(--default-font-family);
  font-size: 2em;
  text-align: right;
  padding: 60px 60px;
}

.index-projects {
  font-family: var(--default-font-family);
  font-weight: bold;
  margin-left: 0 auto;
  margin-bottom: 5%;
  padding: 20px 50px;
}

.index-project-title {
  font-family: var(--default-font-family);
  font-weight: 100;
  text-align: center;
  font-size: 4em;
  margin: 60px;
}

.introduction {
  font-family: var(--secondary-font-family);
  font-size: 25px;
  color: var(--secondary-color);
  padding: 50px 0px 30px 0px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.language-description {
  font-size: 1em;
  font-family: var(--default-font-family);
}

.link {
  display: flex;
  flex: 1;
  justify-content: center;
}

.profile-pic {
  height: auto;
  border-radius: 300px;
}

.project-descriptions {
  text-align: center;
  font-family: var(--default-font-family);
  color: var(--secondary-color);
  font-size: 20px;
}

.project-container {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 150px;
}

.page-title {
  font-family: var(--default-font-family);
  color: var(--secondary-color);
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 40px;
}

.resume-body {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 200px;
}

.resume-title {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 10em;
  text-align: center;
  margin-bottom: 20px;
}

.html-resume {
  margin: 0 auto;
  display: flex;
  margin-bottom: 50px;
}

.html-resume-btn {
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 1em;
}

.row-content {
  padding: 30px 0px;
}

.sample-apps {
  border: 7px solid white;
  border-radius: 5px;
  height: auto;
}

.small-app-title {
  font-family: var(--default-font-family);
  color: var(--secondary-color);
  font-weight: 800;
}

.secondary-background {
  background-color: var(--primary-color);
  padding: 20px;
}

@media (max-width: 576px) {
  .about-intro {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
  }

  .about-title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
  }

  .content-group {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .contact-content {
    margin-bottom: 130px;
    font-size: 20px;
    padding: 0px 20px 0px 10px;
  }

  .header {
    padding: 80px 20px;
  }

  .hero {
    border: none;
  }

  .hero-name {
    text-align: center;
    font-size: 7em;
  }

  .hero-title {
    font-size: 4em;
    font-weight: 200;
    margin-top: 30px;
  }
  .index-description,
  .index-description-attention-getter {
    margin: 0px;
    text-align: center;
  }

  .index-description-attention-getter {
    font-size: 6em;
  }

  .btn-primary {
    padding: 20px 40px;
  }

  .button-link {
    background-color: var(--secondary-color);
    padding: 20px 40px;
    margin: 0 auto;
    font-size: 17px;
    border-radius: 5px;
    margin-left: 100px;
  }

  .page-title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 80px;
  }

  .project-container {
    margin: 0 auto;
    margin-top: 50px;
  }

  .resume-button {
    padding: 20px 40px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .contact-content {
    margin-bottom: 130px;
    font-size: 20px;
    padding: 0px 20px 0px 10px;
  }

  .resume-button {
    padding: 20px 40px;
  }
  .footer-contact-page {
    margin-top: 450px;
  }
}
@media (min-width: 992px) {
  .footer-contact-page {
    margin-top: 350px;
  }

  .footer-about-page {
    margin-top: 200px;
  }

  .resume-button {
    padding: 20px 40px;
  }
}
